.auth_container {
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: #fff;
  padding: 2rem 3rem;

  > div {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  aside {
    background: url(../images/authImage.jpg) no-repeat;
    background-size: cover;
    background-position-x: 60%;
    border-radius: 3rem;
    min-height: 100%;
    text-align: center;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.form_container {
  display: grid;
  grid-template-rows: 3rem 1fr;

  > header {
    display: flex;
    align-items: center;
    gap: 1rem;
    h2 {
      font-weight: 500;
    }
    .logo {
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 100vmin;
      border: 1px solid black;
    }
  }

  > div {
    display: grid;
    place-content: center;
  }

  form {
    display: grid;
    width: 340px;
    gap: 2rem;

    header p {
      color: #cdcdcd;
    }

    .group-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .forgotPassword-container {
        width: 100%;
        display: grid;
        gap: 2rem;
      }

      .group-input {
        width: 100%;
        display: grid;
        gap: 0.1rem;

        .input-auth {
          border: 2px solid #a4a9b278;
          outline: 0;
          background: transparent;
          border-radius: 0.4rem;
          padding: 0.7rem 1rem;
          color: black;
          width: 100%;
          transition: 0.4s;
          &:focus {
            border: 2px solid black;
          }
        }

        .forgot-password {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: #0099ff;
            text-decoration: none;
          }
        }

        .group-input-icone {
          position: relative;

          svg {
            position: absolute;
            width: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            cursor: pointer;
          }
        }
      }
    }

    .group-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
      width: 100%;

      button {
        background: #000000;
        border: 2px solid #000000;
        padding: 0.7rem 0;
        border-radius: 0.4rem;
        width: 100%;
        cursor: pointer;

        &#google-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          color: #000;
          background: none;
        }
      }

      a {
        color: #0099ff;
        text-decoration: none;
      }
    }
  }

  .error-msg {
    min-width: 100%;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background: rgb(255 0 0 / 15%);
  }
}

.verify-email-container {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  section {
    text-align: center;
    display: grid;
    gap: 0.5rem;

    p {
      color: #c1c1c1;
    }
  }
  button {
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    border: 0;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      background: none;
      color: #fff;
    }
  }
}

#logOut {
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 0.5rem;
  width: 5rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  inset: 0;
  margin: auto;
}

.forgotPwd-icon {
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  border: 1px solid #cdcdcd;
  border-radius: 0.5rem;

  svg {
    margin: auto;
    color: #272727;
  }
}
.forgot-password-back {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  svg {
    color: #0099ff;
  }
}

@media only screen and (max-width: 1024px) {
  .auth_container {
    > div {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }

    aside {
      display: none;
    }
  }
}
